@import url("https://fonts.googleapis.com/css2?family=Borel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap");

:root {
  --pico-color: #c0bfc0;
  --pico-primary: rgb(203, 198, 182);
  --pico-primary-border: rgb(203, 198, 182);
  --pico-border-radius: 2rem;
  --pico-background-color: rgb(39, 33, 31);
  --pico-blockquote-border-color: #7b7b7b;
  --pico-blockquote-footer-color: #7b7b7b;
  --pico-text-underline-offset: 0.5rem;
  --pico-spacing: 1.5rem;
  --pico-typography-spacing-vertical: 1.5rem;
  --pico-form-element-spacing-vertical: 1rem;
  --pico-form-element-spacing-horizontal: 1.25rem;
  --pico-box-shadow: 0 20px 2rem rgba(0, 0, 0, 0.331);
}

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Playwrite DE Grund", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --pico-font-family: Borel, cursive;
  --pico-font-weight: 400;
  --pico-typography-spacing-vertical: 0.5rem;
}

section {
  margin-bottom: 5rem;
}

article {
  --pico-card-sectioning-background-color: #000000;
  --pico-card-background-color: rgb(27, 21, 19);
  margin-top: 50px;
  padding: 100px 100px;
  transition: 0.1s ease-in-out;
}
article:hover {
  --pico-card-background-color: rgb(20, 15, 13);
  box-shadow: 0 20px 2rem rgba(8, 7, 7, 0.786);
}

svg {
  margin: 20px 10px;
}

.center {
  text-align: center;
}

.container {
  width: 1024px;
}

.large-icon {
  font-size: 2rem;
}
