<!doctype html>
<html lang="en" data-theme="dark">
    <head>
        <!-- Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block pagetitle %}
        <title>StrayTech</title>
        {% endblock pagetitle %}

        <!-- CSS -->
        <link
            rel="stylesheet"
            href="{{ get_url(path='css/pico.sand.min.css', trailing_slash=false, cachebust=true) | safe }}"
        />
        <link
            rel="stylesheet"
            href="{{ get_url(path='css/pico.colors.min.css', trailing_slash=false, cachebust=true) | safe }}"
        />
        <link
            rel="stylesheet"
            href="{{ get_url(path='css/styles.css', trailing_slash=false, cachebust=true) | safe }}"
        />

        <!-- Scripts -->
        <script
            src="https://kit.fontawesome.com/4f5ece0701.js"
            crossorigin="anonymous"
        ></script>
    </head>
    <body>
        <header class="container">
            <nav>
                <ul>
                    <li>
                        <a href="/"><small>Home</small></a>
                    </li>
                    <li>
                        <a href="https://github.com/TheStrayTech/"
                            ><small>GitHub</small></a
                        >
                    </li>
                    <li>
                        <a href="{{ get_url(path='@/blogs/_index.md') }}"
                            ><small>Blogs</small></a
                        >
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#home"><i class="fa-solid fa-home"></i></a>
                    </li>
                </ul>
            </nav>
        </header>

        {% block content %} {% endblock content %}

        <footer class="footer">
            <hr />
            <div class="container very-faded">
                <h1 class="center">
                    <i class="fa-solid fa-mug-hot"></i> StrayTech
                </h1>
                <p class="center">
                    &copy; 2024 Stray Technologies. All rights reserved. Made
                    with
                    <i class="fa-solid fa-heart"></i> by us.
                </p>
            </div>
        </footer>
    </body>
</html>
