{% extends "base.html" %} {% block content %}

<center>
    <h1><i class="fa-solid fa-mug-hot"></i> Latest <u>Blogs</u></h1>
    <hr />

    {% if paginator.pages|length == 0 %} no blogs! {%else%} {% for page in
    paginator.pages %}

    <div class="blog-post">
        <div class="blog-post-left pico-color-sand-500">
            <a href="{{ page.permalink | safe }}"> {{ page.title }} </a>
            <p>{{ page.description }}</p>
        </div>
        <div class="blog-post-right">
            <i class="fa-solid fa-hourglass-half"></i> {{ page.date |
            date(format="%b %d, %Y") }} <i class="fa-solid fa-user"></i> {{
            page.authors[0] }}
        </div>
    </div>

    {% endfor %} {% endif %} {% endblock content %}
</center>
